* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-color: #2a2f4f;
  --secondary-font-color: #968beb;
  --background-color: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  line-height: 1.75;
  color: var(--primary-font-color);
  font-family: "Karla", serif;
  background-color: var(--background-color);
}

h1 {
  font-size: 4.25rem;
}

p {
  font-size: 1.75rem;
  font-weight: 600;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.intro-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.intro-container p {
  margin: 1rem 0;
}

.highlighted-text {
  color: var(--secondary-font-color);
}

.intro-image {
  width: 275px;
  height: 275px;
}

.down-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: var(--secondary-font-color);
  font-size: 2.25rem;
  cursor: pointer;
  transform: translateX(-50%);
  animation: up-down 1.5s linear infinite;
}

@keyframes up-down {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}



@media (min-width: 725px) {
  .container {
    max-width: 1200px;
  }

  .intro-container {
    flex-direction: row;
    justify-content: space-between;
  }
}