/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Theme */
:root {
  --primary-font-color: #2a2f4f;
  --secondary-font-color: #968beb;
  --primary-background-color: #fff;
  --secondary-background-color: #f0eefd;
}

/* Body */
body {
  line-height: 1.75;
  color: var(--primary-font-color);
  font-family: "Karla", serif;
  background-color: var(--primary-background-color);
}

/* Typography */
h1 {
  font-size: 4.25rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 2.25rem;
}

p {
  font-size: 1.75rem;
  font-weight: 600;
}

a {
  font-size: 1.75rem;
  font-weight: 600;
}

/* Image */
img {
  width: 100%;
  object-fit: cover;
} 

/* Shared Components */
.highlighted-text {
  color: var(--secondary-font-color);
}

/* App Component */
.App {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}