/* General Styles */
body {
  color: #222;
  line-height: 1.75;
  font-family: "Roboto", sans-serif;
  background-color: #faebd3;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

img {
  object-fit: cover;
}

/* Header & Navbar */
header {
  background-color: #faebd3;
  border-bottom: 2px solid #fff;
}

nav {
  width: 95%;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

a {
  font-weight: bold;
  color: #9d769e;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-bottom: 2px solid #9d769e;
}

/* Main & Section */
section {
  width: 95%;
  margin: 65px auto;
}

/* Hero Section */
.hero-section {
  display: flex;
  gap: 50px;
  align-items: center;
}

.hero-section img {
  width: 425px;
}

/* Button */
.btn {
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid #9d769e;
  border-radius: 50px;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  background-color: #9d769e;
}

/* Customer Feedback */
.customer-feedback {
  text-align: center;
}

.feedback-container {
  margin-top: 65px;
  display: flex;
  gap: 50px;
}

.feedback {
  padding: 5px 10px;
  border: 2px solid #778da9;
  border-radius: 5px;
}

.feedback:hover,
.feedback:focus {
  cursor: default;
  scale: 1.05;
  transition: 1s;
}

/* Product Details */
.product-details {
  display: flex;
  gap: 50px;
  align-items: center;
}

.product-details img {
  width: 675px;
}
